# Bframework htaccess
# Copyright BUDDYEXPRESS 2009-2014
# Website http://wwww.buddyexpress.net/bframework/

<Files .htaccess>
 order allow,deny
 deny from all
</Files>

DirectoryIndex index.php
Options -Indexes
Options +FollowSymLinks
