;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Open Source Social Network .user.ini ;
; Works only in FPM/FastCGI env        ;
; Generated in both conditions         ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

post_max_size=105M
upload_max_filesize=100M
memory_limit=512M

register_globals=0
default_charset="utf-8"
allow_url_fopen=on