# Bframework htaccess
# Copyright BUDDYEXPRESS 2009-2014
# Website http://wwww.buddyexpress.net/bframework/

<Files .htaccess>
 order allow,deny
 deny from all
</Files>

DirectoryIndex buddyexpress.php
Options -Indexes
Options +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine On    
RewriteRule    ^css/bframework.([A-Za-z0-9\_\-]+).css$ css/css.php?system=$1 [QSA]
RewriteRule    ^js.js$ js/js.php
</IfModule>
